body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262627;
}

header {
    background: #385e68;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgb(48, 50, 51);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: rgb(210, 223, 238);
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}
